<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            .red{
                color: red;
            }
            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h4>app1</h4>
        <div id="app">
            <span>{{ person.name }}, {{ person.age }}</span><br>
            <span>{{ nextYear('안녕하세요') }}</span><br>
            <span><input :type="type" :value="inputData"></span><br>
            <span><a :href="getSehoLink('watch?v=EFxbzg0ycBI')">seho's channel</a></span><br>
        </div>
        <hr>
        <h4>app2</h4>
        <div id="app2">
            {{ year }} <br>
            <button v-on:click="plus">Plus year</button><br>
            <button v-on:click="minus">Minus year</button><br>
        </div>
        <hr>
        <h4>app3</h4>
        <div id="app3">
            <form v-on:submit.once="submit">
                <!-- <input type="text" :value="text" @keyup="updateText"><br> -->
                <input type="text" v-model="text"><br>
                {{ text }}<br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <hr>
        <h4>computed</h4>
        <div id="app4">
            {{ reversedMessage }}
            {{ reversedMessage }}
            <button @click="changeMessage">Click</button>
        </div>
        <hr>
        <h4>watch</h4>
        <div id="watch">
            {{ message }} <br>
            <button @click="changeMessage">Click</button> <br>    
            {{ updated }}
        </div>
        <hr>
        <h4>class&binding</h4>
        <div id="cnb">
            <div :class="{ red: isRed, bold: isBold }">class binding</div>
            <button @click="update">Click</button>
            <div :style="styleObject">style binding</div>
        </div>
        <hr>
        <h4>v-if</h4>
        <div id="vif">
            <!-- 여러 태그를 한꺼번에 vif 적용하고 싶을때 template 태그 사용-->
            <template v-if="show"> 
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </template>   
            <template v-if="number === 1"> 
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </template>        
            <div v-else-if="number === 2">Hi</div>      
            <div v-else>No</div><br>
            <button @click="toggleShow">Toggle</button>
            <button @click="increaseNumber">Increase</button> {{number}}
        </div>
        <hr>
        <h4>v-show</h4>
        <div id="vshow">
            <div v-show=show>Yes</div>
            <br>
            <button @click="toggle">Toggle</button>
        </div>


        <script src="index.js"></script>
    </body>
</html>